.task {
  width: 100%;
  padding: 1rem;

  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: .75rem;
}

.task+.task {
  margin-top: 1rem;
}

.task p {
  width: 100%;
  line-height: 140%;
  font-size: .875rem;

  transition: color 0.15s;

  cursor: default;
  user-select: none;
}

.taskCheckmarkArea {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.taskCheckmarkForNotCompletedOnes {
  width: 1.090622rem;
  height: 1.090622rem;

  border: 2px solid var(--blue);
  border-radius: 50%;

  transition: border-color 0.15s, background-color 0.15s;
}

.taskCheckmarkForNotCompletedOnes:hover {
  border-color: var(--blue-dark);
  background-color: rgba(30, 111, 159, 0.15);
}

.taskCheckmarkForCompletedOnes {
  width: 1.090622rem;
  height: 1.090622rem;

  line-height: 0;
  border-radius: 50%;
  color: var(--gray-100);
  background-color: var(--purple-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.15s;
}

.taskCheckmarkForCompletedOnes:hover {
  background-color: var(--purple);
}

.taskDescriptionForNotCompletedOnes {
  color: var(--gray-100);
}

.taskDescriptionForCompletedOnes {
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskDeleteButton {
  width: 1.5rem;
  height: 1.5rem;

  border: unset;
  background-color: transparent;
  cursor: pointer;

  font-size: 0;
  color: var(--gray-300);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.15s, background-color 0.15s;
}

.taskDeleteButton:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}