.container {
  max-width: 736px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.createTaskForm {
  margin-top: calc(0px - 1rem - 0.625rem - 1px);

  display: flex;
  justify-content: center;
  gap: .5rem;
}

.createTaskFormInput {
  width: 100%;
  padding: 1rem;

  font-size: 1rem;
  color: var(--gray-100);
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.createTaskFormSubmitButton {
  padding: 1rem;

  border: none;
  border-radius: 8px;
  line-height: 0;
  color: var(--gray-100);
  background-color: var(--blue-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.15s;

}

.createTaskFormSubmitButton>span {
  margin-left: .5rem;
}

.createTaskFormSubmitButton:not(:disabled):hover {
  background-color: var(--blue);
}

.createTaskFormSubmitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 796px) {
  html {
    font-size: 87.5%;
  }
}